* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
button{
    font-weight: bold;
    font-size: 30px;
    
}
h2{
    font-size: 200%;
}
.item{
    display: flex;
    flex-direction: column;
    font-size: 25%;
    text-decoration: none;
}
p{
    font-size: 15%;
    text-align: center;
    margin-top: 4%;
    margin: 2%;
    font-weight: bold;
    
}
.squareKitchen{
    display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10%;
  width: 100%;
  height: auto;
  flex-direction: row;
 
}
.headers{
    display: flex;
    flex-direction: row;
}

.button-orders{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.order-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #F4B183;
    flex-wrap: wrap;
   height: 50%;
    margin-top: 3%;
    align-items: center;
    border-radius: 20px;
    margin: 2%;
    text-decoration: none;
}
.order-show{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.done {
    background-color: lightgreen;
    /* Otros estilos para las órdenes entregadas */
  }
.product{
    text-decoration: none;
    font-size: 15%;
}
li{
    text-decoration: none;
}
  