* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

button{
    font-weight: bold;
    font-size: 30px;
    
}

.item{
    
   font-size: 100%;
    
    text-align: left;
}
p{
    
    text-align: left;
 
    font-weight: bold;
    
}
.name-products{
    font-size: 100%;
    text-align: left;
}
.squareKitchen{
    display: flex;
  background-color:#f9ebf2;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10%;
  width: auto;
  height: auto;
  flex-direction: row;
 
}
.headers{
    display: flex;
    flex-direction: row;
}
.list-page{
    list-style: none;
    margin-top: 60%;
    background-color: #B2A4FF;
    margin-left: 30%;
    border-radius: 15px;
    height: 30%;
    width: 70%;
    align-items: center;
    padding: 5%;
}

.button-orders{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.order-container{
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: #FFDEB4;
    flex-wrap: wrap;
    height: auto;
    margin-top: 3%;
    align-items: center;
    border-radius: 20px;
    margin: 2%;
    font-size: 20px;
    padding-bottom: 1%;
    border-style: outset;
    border-width: 5px;
    border-color: #FFB4B4;
    text-align: left;
}
.order-show{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.order-container.done{
    background-color: #f3ffeb; /* Cambia el color de fondo para órdenes completadas */
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
   height: auto;
   width: 40%;
   padding: 3%;
}
.header-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFB4B4;
    border-radius: 15px;
    margin-bottom: %;
    padding: 1%;
}
.product{
    list-style: none;
    
}
.time{
    font-size: 100%;
    font-weight: 100;
}
.status{
    font-size: 100%;
    background-color: #FFB4B4;
    
    
    
    
}