* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
button{
    font-weight: bold;
    font-size: 30px;
    
}
h2{
    font-size: 200%;
}
p{
    font-size: 180%;
    text-align: center;
    margin-top: 4%;
    margin: 2%;
    font-weight: bold;
    
}
.squareWaiter{
    display: flex;
    background-color: #f9ebf2;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10%;
   width:120% ;
    height: auto;
}
.nav-waiter{
    padding-top: 20px;
    width: 1150px;
    height: 250px;
    background-color: #FFB4B4;
    display: flex;
    flex-direction: row;
    border-radius:15px;
    position: fixed;
    padding-top: 0%;
    margin-left: -22%;


}
.button-orders-waiter{
    display: flex;
    margin: 5%;
    
}
.order-waiter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.order-container-waiter {
    display: flex;
    padding: 3%;
    flex-wrap: wrap;
    background-color: #FFDEB4;
    height: auto;
    width: 30%;
    margin: 1%;
    border-radius: 20px;
    border-style: outset;
    border-width: 5px;
    border-color: #FFB4B4;
    font-size: 150%;
    justify-content: center;
}
.order-container-waiter.delivered{
    background-color: red;
    display: flex;
    flex-direction: column;

}
.item{
    list-style: none;
}

