* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
button{
    font-weight: bold;
    font-size: 30px;
    
}
h2{
    font-size: 200%;
}
p{
    font-size: 180%;
    text-align: center;
    margin-top: 4%;
    margin: 2%;
    font-weight: bold;
    
}

.nav{
    width: 860px;
    height: 250px;
    background-color: #FFB4B4;
    display: flex;
    flex-direction: row;
    border-radius:15px;
    position: fixed;
    padding-top: 0%;
    justify-content: center;
    margin-left: -25%;

}
.list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15%;
    margin-top: 2%;
    
}
.list-page{
    list-style: none;
}
.linkButton{
    text-decoration: none;
    color: black;
}
table{
    background-color:#FFB4B4;
    margin-top: 10%;
}
.headerCell {
    
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    border: 1px solid rgb(170, 168, 168);
    padding: 10px;
  }
  
  .dataCell {
    
    font-size: 18px;
    text-align: left;
    border: 1px solid rgb(170, 168, 168);
    padding: 10px;
  }
 
input{
    font-size:20px ;
}
ion-icon[name="add-outline"] {
    font-size: 40px; /* Modifica el tamaño del icono "+" */
    color: black; /* Cambia el color del icono "+" */
    margin: 0%;
  }
  
  ion-icon[name="remove-outline"] {
    font-size: 40px; /* Modifica el tamaño del icono "-" */
    color: black; /* Cambia el color del icono "-" */
     /* Cambia el color de fondo del icono "-" */
    /* Agrega un borde al icono "-" */
    margin: 0;
  }
  .Container-decrease{
    width: 90px;
    height: 55px;
    background-color: #FFB4B4;
    border: 1px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 0%;
    margin-top: 10%;
    border-radius: 15px;
    
  }
  .Container-increase{
    background-color: #FFB4B4;
    width: 90px;
    height: 55px;
    display: flex;
    justify-content: center; /* Centra horizontalmente el icono "-" */
    align-items: center; 
    margin-right: 5%;
    border: 1px solid black;
    margin-top: 10%;
    border-radius: 15px;
  
  }
  .buttonGroup{
    display: flex;
    margin-bottom: 4%;
    gap: 15%;
       
}

.squareMenu{
    display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10%;
  width: 100%;
  height: auto;
 
}
.headers{
    display: flex;
    flex-direction: row;
}
.containerOptions{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.ContainerOrderCliente{
    display: flex;
    flex-direction: row;
   border-radius: 20px;
    margin-left: 0%;
    width: 95%;
    height: auto;
    margin-top: 0;
    background-color: white;

}
.containerProducts{
    justify-content: left; 
    
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    margin: 2%;
    gap: 2%;
    background-color: white;
    border-radius: 20px;

   }
   
   .buttonContainer{
    display: flex;
  background-color: green;
  margin: 0;
  padding: 0;
  width: 60%;
  height: 90px;
  justify-content: space-between;
  
}


.containerCard{
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #FFDEB4;
    width: 95%;
    
    margin-top: 3%;
    align-items: center;
    border-radius: 20px;
    
    
} 

.productImage{
    width: 30%;
    align-items: center;
    margin: 2%;
    margin-bottom: 0%;
}


h2{
    margin: 0;
    
}
.buttonMenu{
   
    width: 220px;
    height: 62px;
    border-radius:20px;
    background-color: #B2A4FF;
    font-weight: bold;
    font-size: 30px;
    margin: 5%;
    margin-top: 50%;
}
/*
.order{
    display: flex;
    width: 95%;
    height: 90%;
    margin-left: 2%;
    justify-content: center;
    background-color: white;
    margin-top: 2%;
    box-shadow: #cac6c6;
    border-radius: 20px;

    
}
*/
.containerTable {
    display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 2%;
  border-radius: 20px;
  margin-top: 2%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  
  }

  

.clientContainer{
display: flex;
flex-direction: column;
margin-top: 0%;
margin-bottom: 0%;
margin: 5%;
justify-content: center;
margin-left: 0%;

}
.tile{
    margin-top: 5%;
    
}
.tile h2{
    margin-top: 5%;
    text-align: center;
    
}

.nameClientInput{
width: auto;
height: 50px;
margin: 5%;
font-size:20px ;


border-radius: 10px;
}
.labelClient{
    margin-bottom: 2%;
    font-weight:bold;
    
    margin-top: 15%;
    margin-left: 5%;
    font-size: 20px;
    
}


.total-container{
    background-color: #F4B183;
    width: 100%;
    height: 11%;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}
.total  {
    font-size: 200%;
    background-color: white;
    border-radius: 20px;
   
}





#send-to-cook{
   margin: 30%;
    margin-left: 0%;
    margin-bottom: 15%;
    background-color: #B2A4FF;
    width: 100%;
    height: 40%;

}

