* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.squareMenu{
    display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: center;
 
}
.containerCard{
    display: flex;
    background-color: #F4B183;
    width: 200px;
    height: 200px;
    margin-top: 9%;
    margin-left: 5%;
    margin-right:5% ;
    align-items: center;
    border-radius: 20px; 
}
.productImage{
    width: 50%;
    height: 50%;
    align-items: center;
    margin: 3%;
}
.productName{
    font-size: 120%;
    text-align: center;
    margin: 2%;
    margin-top: 8%;
    
 
    
}
.containerimageName{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8%;
    
}
h2{
    margin: 5%;
    
}
.buttonbreakfast{
    background-color: blueviolet;
    width: 82px;
    height: 80px;
    
}
