*{
    margin: 0;
    padding: 0;
}
body {
    background-image: ("https://i.ibb.co/X8Kf7Kr/border.jpg");
}
#root {
  display: flexbox;
}

@media (max-width: 1133px) {
  #root {
    display: flexbox;
  }
  .squareLogin {
    display: flexbox;
    background-color: FFF2CC;
    
  }
  
}



